*{
    box-sizing: border-box;

}

html{
    font-size: 10px;
}

body{
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    margin:0;
}

a {
    text-decoration: none;
    color:inherit
}

ul{
    padding: 0;
}

li{
    list-style: none;
}

.img-responsive {
    width:100%;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width:960px;
}

.nav{
    background-color: #674582;
    width: 100%;

}

.nav__logo{
    max-width: 200px;

}
.nav__itens{
    display: none;

}
.nav__box{
    display: flex;
    align-items: center;
    justify-content: space-around;
}



.header{
    background-image: url(../img/leticialanz_banner.jpg);
    background-size: cover;
    display: flex;
    text-align: center;
    margin:0;
    width: 100%;
    

}