* {
    box-sizing: border-box;
}

html {
    font-size: 10px; 
}

body {
    font-family: 'Montserrati', Arial, Helvetica, sans-serif;
    margin: 0;
}

ul, li{
    text-decoration: none;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}
    
nav{
    background-color: #674582;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: none;
}

.img-responsive{
max-width: 40%;
}

.banner{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/adabanner.png);
    margin: 0;
    max-width: 100vw;
    min-height: 30vh;
}

h1 {
    margin: 0;
    padding-top: 40%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    color: white; text-shadow: black 0.1em 0.1em 0.2em;
}

h2{
    text-align: center;
    text-transform: uppercase;
    color: #63458a;
}

.breve-historia{
    font-size: 16px;
  text-align: justify;
  color: #63458a;
}

.foto-perfil{
    width: 140px;
    height: 170px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 30%;
    border-radius: 25%; 
}

.frase-de-impacto{
    border-style: inset;
    border-width: unset;
    border-color: blueviolet;
    font-size: 18px;
    text-align: center;
    color: #63458a;
}

.historia{
    font-size: 16px;
    text-align: justify;
    color: #63458a;
}

.historia__foto{
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    max-width: 100vw;
    min-height: 35vh;    
}

.autora{
    background-color: #C083B9;
    display: flex;
    max-width: 100%;
    max-height: 100%;
}

.autora__img{
    width: 120px;
    height: 158px;
    margin-left: 30%;

}
.autora__info{
    font-weight: bold;
    font-size: 16px;
    color: #674582;
    margin-top: 5%;
}

.container-botao{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
}

.botao{
    color: white;
    height: 30px;;
    padding: 10px;
    margin-top: 10px;
    background-color: #C083B9;
    font-size: 15px;
    text-align: center;
    border-radius: 5px;
    text-transform: uppercase;

}
.rodape{
    max-width: 100%;
    max-height: 40%;
}

.rodape__principal{
    font-size: 12px;
    background-color: #323534;
    display: flex;
   flex-direction: column;
   align-items: center;
}

.rodape-links{
    color: white;
    font-size: 15px;
    padding-top: 5px;
    text-align: center;


}

.rodape__redes-sociais{
    padding-bottom: 10px;
}

.facebook{
    color: white;
    font-size: 16px;
    padding-bottom: 5px;
    
}

.img-facebook{
    height: 20px;
}

.rodape__pequeno{
    background-color: #292a2a;
    color: white;
    text-align: center;
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
    /* ===Media Queries */

    @media(min-width: 768px){
.menu-hamburguer{
    display: none;
    }  

.menu{
    display: flex;
    justify-content: space-around;
    }

.home{
    font-size: 15px;
    color: white;
    margin-left: 20px;
    color: #63458a;
    
}

.nav-home{
display: flex;
justify-content: space-between;
}

.redes-sociais{
    margin-right: 10px;
}

.foto-perfil{
    width: 140px;
    height: 170px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 40%;
    border-radius: 25%; 
}

.breve-historia{
    font-size: 18px;
  text-align: justify;
}

.historia{
    font-size: 18px;
    text-align: justify;
}

.historia__foto{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
 }

 @media(min-width: 1024px){
    h1 {
        margin: 0;
        padding-top: 40%;
        text-align: center;
        text-transform: uppercase;
        font-size: 50px;
        color: white;
        color: white; text-shadow: black 0.1em 0.1em 0.2em;
    }
    h2{
        font-size: 45px;
        text-align: center;
        text-transform: uppercase;
    }

    .foto-perfil{
        width: 140px;
        height: 170px;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 45%;
        border-radius: 25%; 
    }

 }

