*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;    
}

/*---- Navegação ----*/

.navegacao{
    height: 80px;
    background-color: #674582;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navegacao__logo > a > img{
    width: 160px;
}

.navegacao__links > a {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
}

.navegacao__midias-sociais > a > img{
    width: 44px;
    height: auto;
}

/*--- Header ----*/

.cabecalho{
    background-image: url(../img/grupo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.cabecalho > h1{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 8px;
}

/*---- Conteúdo Autor----*/
.secao__autor{
    padding: 0 20px;
}

.secao__autor-titulo{
    font-family: 'Roboto Slab', serif;
    color: #674582;
    margin-bottom: 20px;    
    text-align: center;
}

.secao__autor-conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.secao__autor-img{
    width: 150px;
    margin: 30px;
}

.secao__autor-texto{
    font-family: 'Montserrat', sans-serif;
    color: #674582;
    line-height: 1.3;
    font-weight: lighter;
}

.secao__autor-texto > span{
    font-weight: bold;
}

.secao__autor-links > a{
    text-decoration: none;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

/*---- Conteúdo Reprograma----*/
hr{
    width: 50%;
    border: solid 0.5px #674582;
    margin-top: 62px;
    margin-bottom: 20px;
}

.secao__maravilhosas{
    padding: 20px;
}

.secao__maravilhosas-titulo{
    font-family: 'Roboto Slab', serif;
    color: #674582;
    margin-bottom: 50px;
    text-align: center;
}

.secao__maravilhosas-texto{
    font-family: 'Montserrat', sans-serif;    
    font-size: 15px;
    color: #674582;
    line-height: 1.7;    
}

.secao__maravilhosas-img{
    width: 100%;
    padding: 10px;
    border: solid 1px #674582;
}

.secao__maravilhosas-legenda{
    font-size: 10px;
    text-align: center;
    color: grey;
    font-family: 'Roboto Slab', serif;    
}

/*---- Conteúdo Outras Maravilhosas----*/

.outras-maravilhosas__titulo{
    font-family: 'Roboto Slab', serif;
    color: #674582;
    margin-bottom: 50px;    
    text-align: center;
}

.conteiner__outras-maravilhosas{
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.outras-maravilhosas__img{
    height: 70px;
    background-color: #674582;
    display: flex;
    justify-content: center;
    align-items: center;    
    border-radius: 7px;
}

.outras-maravilhosas__legenda{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-align: center;
}

/*----Botão----*/
.btn{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__call-to-action{
    background-color: #C083B9;
    border-radius: 5px;
    padding: 10px 30px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

/*---- Footer ----*/
footer{ 
    background-color: #323534;
    height: 200px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    padding: 20px;
    text-align: center;
}

.conteiner__footer{
    display: block;
    margin: 0 auto;
}

.footer__navegacao{
    margin-bottom: 6px;
}

.footer__navegacao > a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    margin-bottom: 10px;
}

.footer__logo > img{
    width: 200px;
    margin-top: 16px;
}

.footer__midias-sociais{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.footer__midias-sociais > img{
    width: 15px;
}

.footer__midias-sociais > p{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 15px;
}

.footer__direitos-autorais{
    background-color: #292A2A;
    text-align: center;
    height: 25px;
    padding: 6px;
}

.footer__direitos-autorais > p{
    margin: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}

/*---- Medias ----*/

@media (min-width: 320px){
    .navegacao__links > a {
        display: none;
    }

    .navegacao__midias-sociais > a > img {
        display: none;
    }
}

@media (min-width: 768px){ 
    .navegacao__menu-hamburguer{
        display: none;
    }

    .navegacao{
        padding: 10px 50px;
    }

    .navegacao__links{
        margin-right: 20px;
    }

    .navegacao__links > a{
        display: inline-block;
        font-size: 13px;
        margin-right: 10px;
    }

    .navegacao__midias-sociais > a > img {
        display: inline-block;
        width: 30px;
        margin-right: 10px;
    }

    .conteiner__navegacao{
        display: flex;
        align-items: center;
    }

    .conteudo__conteiner .conteudo__imagem{
        height: 150px;
        width: 150px;
    }    

    .secao__autor{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .secao__autor-img{
        width: 200px;
        margin-right: 30px; 
    }

    .conteiner__footer{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    footer{
        height: 100px;
        padding: 0;
    }

    .footer__navegacao{
        margin-top: 25px;
    }
    
    .footer__midias-sociais{
        margin-top: 25px;
    }
}

@media (min-width: 1024px){
   
    body{
        overflow-x: hidden;
    }

    .cabecalho{
        height: 400px;
    }

    .cabecalho > h1{
        font-size: 50px;
    }

    .secao__maravilhosas{
        padding: 0 200px;
    }

    .secao__maravilhosas-titulo{
        margin: 50px 0;
    }

    .outras-maravilhosas__titulo{
        margin: 50px 0;
    }

    .secao__autor{
        padding: 0 200px;
        margin-top: 50px;
    }

    .secao__autor-titulo{
        margin-top: 50px;
    }

    hr{
        width: 400px;
    }
}