*{
    box-sizing: border-box;
}
html {
    font-size: 10px;
}
body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}
/* ======IMAGEM RESPONSIVA====== */
    .responsive-img {
        width: 100%;
    }

/* ======NAVEGAÇÃO====== */

.nav__bar{
min-width: 100vw;
position: static;


}
.nav_container{
    background-color: #674582;
    color: #ffffff;
    text-transform: uppercase;  
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;       
    
}
.nav__logo{
    max-width: 200px;
    justify-content: center;
}

.nav__menu__itens{
background-color: #674582;

}

.nav__menu-about>li{
    display:none;
    align-items: center
}

.nav__menu__social-media{
    display: none;
}
.nav__menu__risquinho {
    display: flex;
    justify-content: flex-end;
       margin-right: 10px;
       border-radius: 5px;
       }

    /* ======HEADER====== */

header  {
 
height: 180px;
background-image: url("../img/img1-maravilhosa.jpg");
background-color: darkviolet;
background-size: cover;
display: flex;
justify-content: center;
   
       
}

.container-header{    
/* min-height: 80vh;
height: 140px; */
}

.title-maravilhosa{
min-width: 100%;
margin:0 auto;
color: #ffffff;
font-weight: 900;
justify-content: center;
text-transform: uppercase;
}

.container-content{
display: flex;
margin: 0 auto;
width: 100%;
max-width: 960px;
}

.resume{   
display: flex
    
}

.resume img{
max-width: 180px;
justify-content: start;
border-radius: 40%;

    
}
.resume p{
justify-content: center;
}


    /* ======FOOTER====== */

.footer-autor{
    display: flex;
    background-color: #C083B9;
    justify-content: center;
    height:150px;
}


.footer-autor img{
max-width: 100px;
flex-direction: column;
border-radius: 100%;
}


.footer__call-to-action{
    color: white;
     display: block;
    max-width: 250px;
    text-align: center;
    background-color: #C083B9;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem 3rem;
    border-radius: 5px;
    font-size: 1.8rem;

}

.footer-botao :hover{
transform: translateY(-1rem);
box-shadow: 0 10px 10px rgba(0,0,0,.2);
background-color: rgb(192, 156, 188);

}

.footer-reprograma { 
background-color: #323534;
display:flex;
height: 267.5px;;
flex-direction: column;
align-content: center;
justify-content: space-between;
align-items: center;
text-align: center;
padding-top:0;
}



.footer__nav li{
  align-items: center;
  margin: 1rem;
font-size: 12px;
color: #ffffff;


}
.footer__logo{
    max-width: 250px;
    justify-content: center;
    align-items: center;

}
.footer__social-media a{
    display: flex;
    justify-content: center;
    

}
.footer__nav li :hover{
    color:#C083B9;

}

.footer__social-media img{
    display: flex;
    max-width: 10px;
    justify-content: center;
    flex-wrap: wrap;

}

.footer__social-media span{
    display: flex;
    font-size: 14px;
    color: #ffffff;
    /* align-items: row; */
    align-items: baseline;

}
.footer__social-media a :hover{
color:#C083B9
}
     


.footer__cc{
    width: 100%;
    background-color: #292a2a;
    /* height: 50px; */
    opacity: 0.5;
    font-size: 10px;
    text-align: center;
    color: #ffffff;
}















    /* ======MEDIA QUERY====== */

@media (min-width: 768px){

.nav_container{
        background-color: #674582;
        color: #ffffff;
        text-transform: uppercase;  
        padding: 10px;
        display: flex;
     }

.nav__menu__social-media{
        display: flex;
        justify-content: flex-end;
        justify-content: space-between;
        margin-right: 10px;

}

.nav__menu__social-media img{
max-height: 30px;
justify-content: space-between

}
.nav__menu__risquinho{
    display: none;
}

.nav__menu-about>ul{
    justify-content:center;
    display: flex;

}
.nav__menu-about>li{
    justify-content:center;
    display: flex;
}


    /* ======CONTAINER====== */

    /* .container {

        margin: 0 auto;
        width: 100%;
        max-width: 960px;

    } */
     /* ======BOTÃO====== */
     /* .footer__call-to-action{
        text-transform: uppercase;
        font-weight: bold;
        padding: 1rem 3rem;
        border-radius: 5px;
        font-size: 1.8rem;
     } */