*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0 auto;
    width: 100%;
    height: 100%
}

.topo{
    display: flex;
    background-color: #674582;
   width: 100vw;
     padding-bottom: 4px;
     position: fixed;


    
}

.cabecalho{
    margin-left: 10px;
}
.cabecalho__logo{
    padding-top: 18px;
    padding-bottom: 9px;
}



.menu__hamburguer{
    display: inline;
}

.hamburger-icone{
 padding-left: 68px;
 margin-bottom: 12px;
 border-radius: 3px;
 
}



.logo-responsivo{
    width: 200px;
}


.menu__items {
    display: none;
}

.menu__redes-sociais{
    display: none;
}

.background{
    background-image: url("../img/gabriela.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    height: 396px;
    padding-left: 50px;
  
    
}

.titulo_nome{
    color: #ffffff;
   padding: 291px 28px;
   margin-left: -5px;
  
}

.titulo_nome h1{
    text-shadow: 2px 4px 4px #000000;
    line-height:1.0;
}

.container{
    color: #674582;
    margin: 15px ;
    

}

.titulo{
    margin-top: 88px;
}

.titulo h1{
font-weight: bold;
font-size: 16px;
}

.imagem__perfil{
    margin: 20px 30px;
}

.perfil{
    width: 190px;
    height: 130px;
    margin-top: 15px;
   margin-left: 6px;
}

.texto-conteudo{
    text-align: left;
    margin-left:2px;
    margin-right: 8px;


}

.paragrafo span{
    font-weight: bold;
}

.bloco-citacao{
    border: 1px solid #674582;
    width: 250px;
    margin: 30px 20px;
    padding-left: 40px;
    justify-content: center;
}

.frase1, .frase2{
   
  font-weight: bold;  
  padding-right: 50px;
  text-align: center;
}

.bloco-historia{
    text-align: left;
    margin-left:2px;
    margin-right: 10px;

}

.historia_primeira-parte{
margin-top: 80px;
}

.historia_primeira-parte h1{
 font-size: 18px;
}

.sobre-aserie{
    margin-left: 2px;
}

.imagem__esconderijo{
    width: 280px;
    margin-left: -5px;
}

.texto-sobre p{
   margin-left: -4px;
}

.texto-sobre h2{
    margin-left: -2px;
}

.texto-sobre a{
    color: #674582;
    
}

.bloco-autoras{
    display: flex;
    flex-direction: column;
    background-color:#e4b7e5;
    height: 307px;
    margin-top: 95px;
    

   
}

.perfil__autora{
    padding-right: 80px;

}

.perfil__imagem-keka{
   width: 171px;
   margin-top: 20px;
    margin-left: 76px;


}


.descricao__perfil{
justify-content: center;
}

.lista__perfil{
    color: #674582;
   align-items: center;
   margin-left: 20px;

}
.item__lista{
    list-style: none;
}

.item__link{
    text-align: center;
    padding-right: 24px;
    padding-bottom: 20px;
}

.item__link a{
 font-style: italic;
}

.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c083b9;
    margin-top: 30px;
    margin-bottom: 41px;
    margin-left: 55px;
    width: 202px;
    height: 40px;
    border-radius: 4px;
    box-shadow: 4px 7px 13px -1px rgba(0,0,0,0.75);
}



.botao a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
  
    
}

.menu-footer{
   
    background-color: #323534;
    height: 246px;
}

.lista__rodape-preto{
    margin-right: 40px;
    padding-top: 30px;
    text-align: center;


}
li{
   
    list-style: none;
   
  
   }

li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 10px;
}

.logo__responsivo-rodape{
  width: 200px;
  margin-left: 59px;
  margin-top: 21px;

}

.link__facebook-rodape{
    padding-left: 82px;
    padding-top: 11px;
}


.link__facebook-rodape a{
text-decoration: none;
color: #ffffff;
font-size: 14px;

}

.icone__rodape-facebook{
    height: 20px;
}

.creative__creditos{
    background-color: #2d2f2f;
    width: 100vw;
    padding-bottom: 0px;
    height: 24px;
    
}
.creditos__rodape-reprograma{
color: #ffffff;
font-size: 10px;
text-align: center;
margin-top: 31px;
}


@media (min-width:375px){
    .menu__items {
        display: none;
    }
    
    .menu__redes-sociais{
        display: none;
    }
    
    .logo-responsivo{
        width: 250px;
    }

    .hamburger-icone{
        height: 30px;
        padding-left: 68px;
        margin-bottom: 14px;
        border-radius: 3px;
        
       }

    .titulo_nome{
        color: #ffffff;
       padding: 320px 43px;
       margin-left: -30px;
      
    }
    
    .titulo_nome h1{
        text-shadow: 2px 4px 4px #000000;
        line-height:1.0;
        font-size: 22px;
        text-align: left;
    }

    .titulo h1{
        font-weight: bold;
        font-size: 16px;
        text-align: center;
        }


    .imagem__perfil{
        margin: 20px 60px;
    }

    .bloco-citacao{
        border: 1px solid #674582;
        width: 300px;
        margin: 30px 30px;
        padding-left: 60px;
        text-align: center;
        justify-content: center;
    }

    .imagem__esconderijo{
        width: 280px;
        margin-left: 10px;
    }

    
    
    .perfil__imagem-keka{
       width: 171px;
       margin-top: 20px;
        margin-left: 100px;
    
    
    }

    .lista__perfil{
        color: #674582;
       align-items: center;
       margin-left: 40px;
    
    }


    .botao{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #c083b9;
        margin-top: 30px;
        margin-bottom: 41px;
        margin-left:80px;
        width: 202px;
        height: 40px;
        border-radius: 4px;
        box-shadow: 4px 7px 13px -1px rgba(0,0,0,0.75);
    }
    

    li a{
        color: #ffffff;
        text-decoration: none;
        font-size: 14px;
        
    }


    .logo__responsivo-rodape{
        width: 200px;
        margin-left: 75px;
        margin-top: 21px;
      
      }

      .link__facebook-rodape{
        padding-left: 105px;
        padding-top: 20px;
    }
}

@media (min-width:425px){
    .menu__items {
        display: none;
    }
    
    .menu__redes-sociais{
        display: none;
    }

    .hamburger-icone{
        height: 30px;
        padding-left: 100px;
        margin-bottom: 14px;
        border-radius: 3px;
        
       }

       .titulo_nome{
        color: #ffffff;
       padding: 300px 43px;
       margin-left: -20px;
      
    }
    
    .titulo_nome h1{
        text-shadow: 2px 4px 4px #000000;
        line-height:1.0;
        font-size: 26px;
        text-align: left;
    }

    .titulo h1{
        font-weight: bold;
        font-size: 16px;
        text-align: center;
        }


        .imagem__perfil{
            margin: 20px 90px;
        }


        .bloco-citacao{
            border: 1px solid #674582;
            width: 300px;
            margin: 30px 50px;
            padding-left: 60px;
            text-align: center;
            justify-content: center;
        }

        .imagem__esconderijo{
            width: 280px;
            margin-left: 45px;
        }
    

        .perfil__imagem-keka{
            width: 171px;
            margin-top: 20px;
             margin-left: 130px;
         
         
         }
     
         .lista__perfil{
             color: #674582;
            align-items: center;
            margin-left: 70px;
         
         }

         .item__link a{
            font-style: italic;
            margin-left: 40px;
           }


         .botao{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #c083b9;
            margin-top: 30px;
            margin-bottom: 41px;
            margin-left:120px;
            width: 202px;
            height: 40px;
            border-radius: 4px;
            box-shadow: 4px 7px 13px -1px rgba(0,0,0,0.75);
        }

        .logo__responsivo-rodape{
            width: 200px;
            margin-left: 110px;
            margin-top: 21px;
          
          }
    
          .link__facebook-rodape{
            padding-left: 135px;
            padding-top: 20px;
        }

        @media (min-width:768px) {
        
            .menu__hamburguer{
                display: none;
            }
            
            .hamburger-icone{
             display: none;
             
            }

            
           .cabecalho__logo{
               width: 100vw;
            display: flex;
            flex-direction: row;
            
            }

            .menu__lista{
                width: 100vw;
            display: flex;
            flex-direction: row;
            }

            .menu__lista a{
            font-size: 14px;
            margin-left: 40px;

            }

            .menu__topo-home, .menu__topo-reprograma{
                margin-left: 10px;
                margin-top: -3px;
            }

            .menu__lista-redes{
           
            
            }

            .logo-responsivo{
                width: 200px;
                margin-top: -5px;
            }



            .background{
            background-image: url("../img/gabriela.jpg");
            background-repeat: no-repeat;
             background-size: 100%;
        
    }
        
    }


