* {
    box-sizing: border-box;
}

html {
    font-size: 10px; 
}

body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}


.img-responsive {
    width: 100%;
}
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
}

/* --- BOTAO --- */

.btn {
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem 3rem;
    border-radius: 5px;
    font-size: 1.8rem;
}

.btn_roxo {
    color: white;
    background-color: #C083B9;
    display: block;
    max-width: 250px;
    text-align: center;
    transition: all .5s;
    margin: 0 auto;
}

.btn_roxo:hover,
.btn_roxo:focus {
    transform: translateY(-1rem);
    box-shadow: 0 10px 10px rgba(0,0,0,.2);
    background-color: rgb(192, 156, 188);
}

.btn_roxo:active {
    transform: translateY(-.5rem);
    box-shadow: 0 5px 5px rgba(0,0,0,.2);
}

.btn_center {
    margin: 0 auto;
}

/* --- NAV --- */
.navegacao {
    background-color: #674582;
    color: white;
    text-transform: uppercase;
    box-shadow: 0px 5px 5px rgba(0,0,0,.2);
    padding: 1.5rem;
    z-index: 99;
    position: fixed;
    width: 100%;
}

.navegacao__logo {
    max-width: 200px;
}

.navegacao__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navegacao__itens {
    position: absolute;
    right: -700px;
    top: 85px;
    width: 100%;
    background-color: #674582;
    text-align: center;
    padding: 3rem 0;
    transition: right 1s;
}

.navegacao__itens.ativo {
    display: block;
    right: 0;
    top: 85px;
    width: 100%;
    background-color: #674582;
    text-align: center;
    padding: 3rem 0;
    transition: right 1s;
}

.navegacao__itens li > a {
    transition: all .2s;
}

.navegacao__itens li > a:hover {
    color: #C083B9;
}

.navegacao__menu-hamburguer img {
    background-color: #C083B9;
    border-radius: 5px;
}

.navegacao__nav {
    margin-bottom: 3rem;
    margin-right: 2rem;
}

.navegacao__nav li {
    font-size: 1.5rem;
    margin: 1rem;
}

.navegacao__redes-sociais a {
    margin: 0 1rem;
}


/* --- HEADER --- */
.header {
    min-height: 80vh;
    height: 500px;
    background: url(../../../Personalidade/img/Dilma2.jpeg) center no-repeat;  
    background-size: cover;
    display: flex;
    align-items: flex-end;
    text-align: center;
    padding: 11rem 2rem 5rem 2rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(22, 22, 22);
    font-size: 3em; color: #f30606;
        
}

.principal__titulo {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 900;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.principal__sub {
    font-weight: 300;
    margin: 2rem 0 3rem 0;
    font-size: 1.5rem;
}

.dilma__titulo {
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
    color: #63458a;
    font-size: 2rem;
    text-align: center;
}

.dilma__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}   
.dilma__perfil {
    max-width: 220px;
    margin: 2rem;
    display: flex;
}
.img-fotodilma1{
    width: 300px;  
}
.dilma__apresentacao{
    width: 300px;
    font-size: 2.5rem;
    font-weight: 900;
    margin-left: 5%;
}

.dilma__destaque {
    border: black solid;
    font-size: 2rem;
    font-weight: 900;
    display: flex;
    justify-content:10px;
    height:16%;
    margin-left:30%;
    margin-right: 30%;
    margin: 5%;
}



.rodape {
    background-color: #323534;
    color: white;
    font-size: 10pt;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.rodape__principal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.rodape__principal > * {
    margin: 40px;
}

.rodape__navegacao > li {
    font-size: 15px;
    margin: 10px;
}

.rodape__navegacao a {
    transition: all .5s;
}

.rodape__navegacao a:hover {
    color: #C083B9;
}

.rodape__logo {
    max-width: 200px;
}

.rodape__redes-sociais a {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
}

.rodape__redes-sociais a:hover {
    color: #C083B9;
}

.rodape__redes-sociais img {
    max-width: 10px;
    margin-right: 15px;
}

.rodape__redes-sociais span {
    display: flex;
    font-size: 1.5rem;
}

.rodape__cc {
    width: 100%;
    background-color: #292A2A;
    font-size: 10pt;
    opacity: 0.5;
    text-align: center;
}


@media (min-width: 768px) {
    /* --- NAV --- */
    .navegacao__itens {
        position: static;
        display: flex;f
        padding: 0;
        width: auto;
    }
    .navegacao__redes-sociais img {
        max-height: 30px;
    }

    .navegacao__nav {
        margin-bottom: 0;
    }
    
    .navegacao__itens ul {
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        text-align: center;
    }
    
    .navegacao__itens li {
        font-size: 1.2rem;
        margin: 0 .6rem;
    }
    
    .navegacao__menu-hamburguer {
        display: none;
    }

    /* --- HEADER --- */
    .header {
        min-height: 75vh;
        text-align: left;
        padding: 5rem 10rem;
    }

    .principal__titulo {
        font-size: 2.9rem;
    }
    
    .principal__sub {
        font-size: 1.8rem;
    }

    .principal__btn {
        margin: 0;
    }

    /* --- FOOTER --- */
    .rodape {
        padding-top: 0;
    }

    .rodape__principal {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    .rodape__logo img {
        max-width: 250px;
    }

    .rodape__navegacao > li {
        font-size: 1.5rem;
    }
  
    .img-fotodilma1{
        width: 600px;
    }
    .dilma__apresentacao{
        width: 600px;
        font-size: 3rem;
        font-weight: 100;
        margin-left: 5%;
    }
    .dilma__destaque {
        border: black solid;
        font-size: 2rem;
        font-weight: 900;
        display: flex;
        justify-content:10px;
        height:16%;
        margin-left:30%;
        margin-right: 30%;
        margin: 5%;
    }
}


@media (min-width: 1440px) {
    .navegacao__box {
        max-width: 80%;
    }
    .header {
        min-height: 90vh;
    }
    .navegacao__itens li {
        font-size: 1.5rem;
        margin: 0 1rem;
    }
    .principal__titulo {
        font-size: 7rem;

    }
    .dilma__box {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    } 

 }