*{
    box-sizing: border-box;

}

html{
    font-size: 10px;
}

body{
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    margin:0;
}

a {
    text-decoration: none;
    color:inherit
}

ul{
    padding: 0;
}

li{
    list-style: none;
}

.img-responsive {
    width:100%;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width:960px;
}

.nav{
    background-color: #674582;
    width: 100%;
}

.nav__logo{
    max-width: 200px;

}
.nav__itens{
    display: none;

}
.nav__box{
    display: flex;
    align-items: center;
    justify-content: space-around;
}



.header{
    background-image: url(../img/leticialanz_banner.jpg);
    position: relative;
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 300px;
    font-family: Verdana;
    font-size: 20px;
    color: white;
    margin-top: -27px;
    z-index: -1;

}

h1{
    text-align: center;
    display: flex;
    align-items: baseline;
    position: absolute;
    top: 210px;
    left: 15vw;

}
.h2{
    font-family: Arial;
    font-size: 9px;
    font-family: Arial;
    margin-left: 16px;
}

.h3{
    font-family: Arial;
    font-size: 11px;
    margin-left: 28px;
}

.perfil{
    display: flex;
    text-align: right;
    font-size: 35px;
    font-family: Arial;
    width: 100vh;

    ;
}

.caixas_perfil{
    display: flex;

}

.frase{
    font-size: 12px;

}

.perfil img{
    width: 34vh;
    height: 166px;
}
.historia{
    font-size: 15px;

}

.foto_sua_historia img{
    width:100%;
}

.historia2{
    font-size: 15px;

}

.links_leticia{
    display: flex;
    padding-bottom: 60px;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    align-items: center;
}

.links_leticia .link_ufpr {
    width: 100px;

}

.links_leticia .link_blog {
    width: 150px;
}

.links_leticia .link_livro {
    width: 100px;

}


.autora{
    background-color: #674582;
    font-size: 15px;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    align-items: center;

}

.autora .foto_autora .foto_autora_romenia{
    width: 200px;
    height: auto;

}

.autora .info_autora {
    font-size: 20px;
    color: white;

}


.todas{
    background-color: white;
    width: 100%;
    height: 80px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}

.todas button{
    color: white;
    background-color: blueviolet;


}

.footer1{
    display: flex;
    font-family: Arial;
    background-color: gray;
    width: 100%;
    height: 80px;
    justify-content: space-evenly;
    align-items: center;

}

.footer1 .m_de_m {
    width: 100px;
    height: 60px;
}

.footer2{
    font-family: Arial;
    background-color: darkorchid;
    width: 100%;
    height: 40px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;

}