* { 
    box-sizing: border-box;
}
html {
    width: 100vw;
    height: 100vh;
}
body {
    margin: 0 auto;
}
.container-row {
    height: 80px; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    background-color: blueviolet;
    border: light;
}
.menu-itens {

    font-size: 1.5em;
}
.item {
    flex: 1;
    font-size: 18px;
    margin-right: 30px;
    
}
.logo {
    width: 180px;
    height: 50px;
    margin: 0 auto;
    margin-right: 150px;
    
}
.Facebook {
    width: 30px;
    height: 29px;
}
.instagram {
    width: 30px;
    height: 29px;
}
.twitter {
    width: 30px;
    height: 29px;
}
.linkedin {
    width: 30px;
    height: 29px;
}
.menu-hamburguer {
    margin-top: 30px;
    margin-right: 10px;
}
.banner-Muhammad img {
    width: 100vw;
    height: 100vh; 
    align-items: center;
    text-align: center;
    border: light;
    
}
.texto-bottom {
    position: relative;
    bottom: 90px;
    text-align: center;
    color: white;
    font-size: 50px;
}
.titulo-personalidade {
    position: relative;
    bottom: 50px;
    text-align: center;
    color:black;
    font-size: 30px;
}
.container-personalidade img {
    width: 20vw;
    height: 40vh; 
    margin-left: 10px;
}

a {
    color: white;
}
ul, li {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
