* {
box-sizing: border-box;
}

html {
font-size: 12px;
width: 100%;
height: 100%;
}

body {
font-family: 'Roboto Slab', serif;
background-color: rgb(34, 34, 182);
margin: 0;
}

a {
text-decoration: none;
color: inherit;
}

ul {
padding: 0;
}

li {
list-style: none;
}

footer {
text-decoration: none;
background-color: purple;
color:black;
width: 140%;
height: 80px;
margin-top: 20px;
display: flex;
justify-content: space-around;
}

.menu {
background-color:purple;
width: 140%;
height: 80px;
display: flex;
justify-content: space-around;
}

.rodape__principal {
display: flex;
justify-content: space-around;
}

.rodape__navegacao {
display: flex;
justify-content: space-around;
}

.rodape__logo {
display: flex;
justify-content: space-around;
}

.rodape__cc {
display: flex;
justify-content: space-around;
}

/*botão*/
.botao {
color: white;
background-color:purple;
display: block;
max-width: 250px;
text-align: center;
margin: 0 auto;

}

/*imagens*/

.imgmaravilhosa {
width: 200px;
height: 60px;
margin:15px;
background-color:purple;
display: flex;
justify-content: space-around;
}

.logos {
width: 200px;
height: 60px;
margin:15px;
background-color:purple;
display: flex;
justify-content: space-around;
}

.alissa__um {
width: 1500px;
height: 1050px;  
background-size: cover;
background-image: url(../personalidade/alissa-imagens/Alissa1.jpg);
background-repeat: no-repeat;
background-position:center; 
}

.alissa__dois {
width: 300px;
height: 370px; 
}

.archenemy {
width: 1500px;
height: 1050px;  
background-size: cover;
background-image: url(../personalidade/alissa-imagens/ArchEnemy.jpeg);
background-repeat: no-repeat;
background-position: center;
} 

.barbara {
width: 10px;
height: 10px;     
}

.rodape__logo {
width: 10px;
height: 10px; 
}

.rodape__redes-sociais {
width: 10px;
height: 10px; 
}

.menu-hamburguer {
width: 200px;
height: 60px;
margin:15px;
background-color:purple;
display: flex;
justify-content: space-around;
}


/*containers*/
.c-1 {
margin: 0 auto;
width: 100%;
max-width: 960px;

} 

.c-2 {
margin: 0 auto;
width: 100%;
max-width: 960px;
}

.c-3 {
margin: 0 auto;
width: 100%;
max-width: 960px;

}

/*textos*/
.texto {
text-decoration: none;
text-align: justify;
}

.caixa__de__texto {
    border: 1px solid white;
}

.principal__titulo {
text-transform: uppercase;
text-align: center;
font-size: 2.5rem;
font-weight: 900;
}

.segundo__titulo {
text-transform: uppercase;
text-align: center;
font-size: 2.5rem;
font-weight: 900;
}