/* ==== GERAL ==== */

*{
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100%; 
}

body{
    margin: 0;
}

.cursor{
    cursor: pointer;
}
/* ==== BARRA NAVEGAÇÃO ==== */

.container{
    width: 100vw;
    height: 88px;
    background-color: #674582;
    box-shadow: 0px 5px 5px rgba(0,0,0,.2);
    position: fixed;
    top: 0; 
    z-index: 9;
   
}

.container-nav{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-nav__logo{
    width: 35vh;
    margin-top: 15px;
    margin-right: 60px;
}

.container-nav__redes-sociais{
    width: 100%;
    display: flex;
}

.container-nav__menu, .container-nav__redes-sociais{
    display: none;
}

.icone__redes-sociais{
    width: 45px;
}

.container-nav__menu-hamburguer{
    margin-top: 15px; 
    margin-left: 5px;
}

.container-nav__menu-hamburguer img{
    background-color: #C083B9;
    border-radius: 5px;
}

/* ==== HEADER ==== */

.banner{
    min-height: 80vh;
    height: 500px;
    background-image: url(../img/IlustracaoMaud.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 20px;
}

.banner-texto__titulo {
    color: #000000;
    font-family: 'Monteserrat', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 479px;
    margin-right: 25px;
    text-align: center;
    text-shadow: black 0px 0 10px;
}

/* ==== APRESENTAÇÃO (TÍTULO, FOTO E DESCRIÇÃO) ==== */

.conteudo{
    font-family: 'Montserrat', sans-serif;
    color: #674582;
}

.apresentacao-titulo{
    font-family: 'Roboto Slab', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.apresentacao-perfil{
    display: flex;
    justify-content: space-around;
}

.perfil__foto{
    width: 120px;
    margin-top: 50%;
}

.perfil__texto {
    width: 60%;
}

.perfil__texto p{
    font-size: 13px;
}

/* ==== CITAÇÃO ==== */

.citacao{
    width: 80%;
    margin: 0 auto;
    border: 1px solid #674582de;
}

.citacao p{
    font-size: 14px;
    font-weight: bolder;
    text-align: center;
    line-height: 20px;
}

/* ==== HISTÓRIA ==== */

.historia{
    width: 85%;
    margin-left: 35px;
}

.historia > h3{
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

.historia__sobre{
    font-size: 13px;
    margin-bottom: 7px;
}

.span-italic{
    font-style: italic;
}

.historia__imagens__tattoo{
    max-width: 150px;
    margin-right: 10px;
}

.historia__imagens__familia{
    max-width: 130px;
}

.historia__imagens__senhora{
    max-width: 120px;
    margin-left: 95px;
}

/* ==== INFO PESSOAL ==== */

.info-pessoais{
    width: 100vw;
    height: 106px;
    background-color: #E4B7E5;
    display: flex;
    align-items: center;
}

.info-pessoais__imagem{
    width: 120px;
    height: 105px;
    margin-left: 40px;
}

.info-pessoais__foto{
    max-width: 100px;
    margin-left: 5px;
}

.info-pessoais span{
    font-size: 9px;
    font-weight: bold;
    line-height: 12px;
    color: #63458A;
}

.info-pessoais__texto{
    width: 150px;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    
}

.info-pessoais__texto__link{
    text-decoration: none;
}

/* ==== BOTÃO ==== */

.botao{
    width: 100vw;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao__btn-ir-home{
    width: 45%;
    height: 36%;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: bolder;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    background-color: #C083B9;
    border-radius: 7px;
    border: none;
}

/* ==== FOOTER ==== */

.footer{
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
}

.footer-redes{
    width: 100%;
    background-color: #323534;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.footer-redes_responsivo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-a{
    width: 40%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
}

.footer-redes .footer-a a{ 
    font-size: 11px;
    color: #ffffff;
    text-decoration: none;
}

.footer-redes__link{
    font-size: 10px;
    text-align: center;
}

.footer__logo{
    width: 55%;
    margin-left: 82px;
    margin-top: 20px;
}

.footer-icone{
    width: 55%;
    margin-top: 18px;
    margin-left: 3px;
}

.footer-iconelink{
    font-size: 14.5px;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.footer__iconeface{
    width: 11px;
    margin-right: 5px;
}

.footer-creative{
    width: 100vw;
    background-color: #292a2ab2;
    margin-top: 25px;
}

.footer-creative p{
    font-size: 10px;
    text-align: center;
    opacity: 0.5;
}

/* ==== MEDIA QUERIES ==== */

@media (min-width: 425px){
    .citacao{
        margin-top: 20px;
    }

    .banner-texto__titulo{
        margin-right: 80px;
        margin-bottom: 22px;
    }
}

@media (min-width: 768px){
    .container-nav__menu-hamburguer{
        display: none;
    }  
    
    .container-nav__menu, .container-nav__redes-sociais{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .container-nav{
        margin-top: 10px;
    }

    .container-nav__logo{
        width: 35vh;
        margin-top: 9px;
        margin-left: 15px;
        margin-right: 8px;
    }

    .container-nav__menu{
        width: 70%;
    }

    .container-nav__menu ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .container-nav__menu li{
        list-style: none;
    }

    .container-nav__home{
        margin-right: 13px;
    }

    .container-nav__site{
        width: 181px;
    }

    .container-nav__menu a{
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        color: #ffffff;
        text-decoration: none;
    }

    .container-nav__redes-sociais{
        width: 50%;
        margin-right: 10px;
    }

    .container-nav__redes-sociais img{
        max-width: 30px;
    }

    .banner{
        margin-top: 88px;
        min-height: 80vh;
        height: 750px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner-texto__titulo {
        text-align: center;
        color: #000000;
        margin-top: 720px;
        margin-right: -4px;
        margin-bottom: 0;
        font-size: 30px;
    }

    .apresentacao-titulo{
        font-size: 26px;
    }

    .apresentacao-perfil {
        display: flex;
        justify-content: center;
    }

    .perfil__foto{
        width: 150px;
        margin-top: 20%;
        margin-right: 55px;
    }
    
    .perfil__texto {
        width: 42%;
    }
    
    .perfil__texto p{
        font-size: 15px;
    }

    .citacao {
        width: 70%;
        margin-bottom: 28px;
    }

    .citacao p{
        font-size: 19px;
    }

    .historia {
        width: 80%;
        margin-left: 78px;
    }

    .historia > h3 {
        font-size: 20px;
    }

    .historia__sobre {
        font-size: 15px;
    }

    .historia__imagens{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .historia__imagens__tattoo{
        max-width: 162px;
        margin-right: 0;
    }
    
    .historia__imagens__familia{
        max-width: 155px;
    }
    
    .historia__imagens__senhora{
        max-width: 125px;
        margin-left: 0;
    }

    .info-pessoais{
        width: 100vw;
        height: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .info-pessoais__imagem {
        width: 154px;
        height: 137px;
        margin-left: 40px;
    }

    .info-pessoais__foto{
        max-width: 131px;
    }

    .botao{
        height: 120px;
    }
    
    .botao__btn-ir-home{
        width: 28%;
        height: 38%;
        font-size: 17px;
    }

    .footer-redes_responsivo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .footer-redes .footer-a a{
        font-size: 13px;
    }

    .footer-a{
        margin-left: 30px;
    }

    .footer__logo{
        margin-left: 100px;
    }
}

@media (min-width:1024px){
    .container-nav__redes-sociais {
        width: 22%;
        margin-right: 15px;
    }

    .banner{
        height: 940px;
    }

    .banner-texto__titulo{
        margin-top: 906px;
        font-size: 33px;
    }

    .apresentacao-titulo {
        font-size: 28px;
    }

    .perfil__texto {
        width: 34%;
    }

    .citacao {
        width: 67%;
        margin-bottom: 30px;
    }

    .citacao p {
        font-size: 20px;
    }
}

@media (min-width:1440px){
    .container-nav {
        display: flex;
        align-items: center;
        margin-top: 10px;
    }

    .container-nav__logo{
        width: 32vh;
        /* margin-top: 5px; */
        margin-left: 55px;
        margin-right: 0;
    }

    .container-nav__menu {
        width: 200px;
        margin-left: 95px;
    }

    .container-nav__redes-sociais {
        width: 17%;
        margin-right: 0;
        margin-left: -220px;
    }

    .container-nav__menu a {
        font-size: 14px;
    }

    .container-nav__site {
        width: 221px;
    }

    .banner {
        margin-top: 87px;
        height: 1320px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .banner-texto__titulo {
        font-size: 36px;
        color: black;
        margin-right: 8px;
    }

    .apresentacao-perfil {
        display: flex;
        margin-left: 0;
    }

    .apresentacao-titulo {
        font-size: 28px;
    }

    .perfil__foto {
        width: 200px;
        margin-top: 30px;
    }

    .perfil__texto {
        width: 28%;
    }

    .perfil__texto p {
        font-size: 18px;
    }

    .citacao {
        width: 38%;
        margin-bottom: 62px;
        margin-top: 40px;
    }

    .historia > h3 {
        font-size: 28px;
    }

    .historia__sobre{
        font-size: 17px;
    }

    .historia__sobre > p{
        margin-bottom: 50px;
    }

    .historia__imagens__tattoo{
        max-width: 215px;
        }

    .historia__imagens__familia{
        max-width: 210px;
    }

    .historia__imagens__senhora{
        max-width: 165px;
    }

    .info-pessoais{
        height: 160px;
    }

    .info-pessoais__foto{
        max-width: 150px;
        margin-left: -25px;
    }

    .info-pessoais__imagem {
        width: 154px;
        height: 157px;
        margin-left: 40px;
    }

    .info-pessoais span {
        font-size: 11px;
        line-height: 16px;
    }

    .botao {
        height: 150px;
    }

    .botao__btn-ir-home {
        width: 17%;
        height: 30%;
        font-size: 18px;
    }

    .footer-redes_responsivo {
        width: 100%;
        margin-top: 5px;
    }

    .footer-redes .footer-a a {
        font-size: 15px;
    }

    .footer-a {
        width: 30%;
        margin-left: 25px;
        margin-bottom: 5px;
    }    

    .footer__logo {
        margin-left: 236px;
        width: 42%; 
    }
           
    .footer-iconelink {
        font-size: 15px;
        display: flex;
        justify-content: flex-end;
        width: 445px;
    }

}    