* {
    box-sizing: border-box;  
}

body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

/* ===== MOBILE FIRST =====*/

/* ===== NAVBAR ====*/
.menu {
    display: flex;
    justify-content: space-around;
    background-color: #674582;  
}

.menu__logo {
    width: 54vw;
    height: 10vh;
  
}

.menu__link {
    font-size: 10px;
}
.menu__link-home, .menu__link-reprograma {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 15px;
}


.menu__medias, .menu__link {
    display: none;

}

.menu-img{
    margin: 20px 10px;
}
/* ==== HEADER ====*/

.banner {
    width: 100vw;
    height: 48vh;
    background: url(../img/baner.jpg);
    background-size: cover;
    background-position: 0px 0px;
    display: flex;
    align-items: flex-end;
    

}


    
.title {
    margin:10px 0px 2px 7px;
    padding: 5px;
}

h1 {
    font-size: 30px;
    color:#cebfbf;
    border: #a79797;
    text-transform: uppercase;
}

/*===== CONTAINER =====*/
.container {
    display: block;
}

.content {
    margin: 20px 0px;
    
    
}

h2 {
  display: flex;
    margin: 20px;
    padding: 0;

}



.content__sobre {
    width: 320px;
    height: 245px;
    margin: 40px 20px;
     
}
.content__img {
    width: 111px;
    height: 110px;
    margin: 40px 95px;
    border-radius: 100px;   
}

p{
    color: #674582;
    
}

.slogan{
    width: 320px;
    height: 110px;
    border-style:solid;
    border-width: 1px;
    border-color: #674582;
    border-radius: 20px;
    margin:80px 20px;
    padding: 0 16px;
    text-justify: distribute;
    font-weight: bold;
}

.history{
    width: 340px;
    height: 40px;
    display: block;
    margin:20px 18px;

}

h3{
    color:#674582;
    
}

span{
    font-weight: bold;
}
figure {
    width: 85vw;
    color: #674582;
    font-style: italic;
    border-style: solid;
    border-width: 2px;
    border-color: #674582;
    margin:auto;
}
.figure__banner {
    width: 84vw;
    height: 50vh;
}

