/* === GERAL=== */

*{
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 10px;    
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: #63458a; 
}

/* === NAVEGAÇÃO=== */
.nav {
    background-color: #674582;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    text-transform: uppercase;
    position: fixed;
    margin-top: -50px;
    

}
.nav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav__links >ul>li {
    list-style-type: none;
    display: none;

}

.nav__links > ul>li> a {
    text-decoration: none;
    color: white;
    font: 10px;
}
.img-responsive {
    width:70%;
}

.nav__img {
    width: 10%;
}

.nav__redes-sociais{
    display: none;
}
/* === HEADER=== */

.header{
    background: linear-gradient(rgba(211, 165, 255, 0.591), rgba(235, 132, 255, 0.591)), url(../img/autora.back.jpg);
    background-size: cover; /* para a img conter exatamente o tamanho da div*/
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 335px;
    width: 100vw;
    margin-top: 50px;
    
    }
    
    h1 {
        margin-top: 220px;
        color: white;
        text-transform: uppercase;
        margin-left: 40px;
    }
    
    /* === IMAGENS=== */
    
    .img__historia{
        width: 100%;
       margin: 10px 0px; 
       }
    
   
    .img__perfil {
    width: 30vw;
    margin: 10px;
    }
    
    
/* === MAIN=== */

main{
    margin: 0px 10px;
}

.principal__sub {
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 12px;
    margin: 15px;
}

.resumo > div  {
    display: flex;
    align-items: center;
    text-align: left;
    margin: 10px 20px;
    width: 90%;   

}

.redes {
    display: flex;
    justify-content: center;
    margin: 20px 10px;
}

.redes > a{
    text-decoration: none;
    font-weight: bold;
    color: #674582;
}

hr {
    width: 50%;
    margin:auto;
    color: #674582
}

/* === BOTÃO=== */

.btn_vertodas {
    background-color: #C083B9;
    display: block;
    width: 150px;
    height: 30px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    border: 0px solid #C083B9;
    border-radius: 10px;
    margin-bottom: 20px;
  
}

.btn_vertodas > a {
    text-decoration: none;
    color: white;
    font-size: 10px;
    
}

/* === FOOTER=== */
.rodape {
    background-color: #323534;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    margin-top: 30px;   
}
.rodape__navegacao {
    margin-left: 10px;
    padding: 0;
    margin: 0;
}

.rodape__navegacao >li > a {
    text-decoration: none;
    color: white;
}

.rodape__navegacao > li {
    list-style-type: none;
    line-height: 2;
    text-align: center;
    display: block; 
    
}
.rodape__redes-sociais > a > span {
    color: white;
    font-size: 15px;
     
}

.rodape__redes-sociais > a > span >  img {
    max-width: 10px;     
}

.rodape__logo > img {
    max-width: 20vw;
}

.rodape__cc {
    background-color: #292A2A;
    width: 100%;
    height: 25px;
    text-align: center;
    padding-top: 10px;
    font-size:10px;
}

.rodape__principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95%;
    margin-top: 20px;
    
}
/* === MEDIA QUERIES=== */

@media (max-width: 588px) {
    .nav{
        width: 100%;
    }

    .nav__menu-hamburguer{
        padding:20px;
    }

    .rodape__principal {
        display: flex;
        justify-content: center;
        width: 50%;
    }

    .rodape__redes-sociais > a> span{
        font-size: 10px;
    }
}

@media (min-width: 768px) {
    main{
        font-size: 15px;
    }
    .nav {
    height: 50px;
    }
    .nav__menu-hamburguer > a > img {
        display: none;
    }
    .img-responsive {
        width: 20%;
    }
    .nav__redes-sociais  {
        display: flex;
    }
    .nav__links >ul>li {
        display: flex;
        margin-right: 30px;
    }
    .nav__links > ul {
        display:flex;
        flex-direction: row;
        
    }
    .nav__img{
        width: 30px;
        height: 30px;
        margin-right: 20px;
    }
    .img__perfil{ 
        width: 20vw;
    }
    .resumo {
        margin: 10px 110px;
    }
   
    .rodape__redes-sociais > a > span {
        font-size: 13px;   
    }
}


@media (max-width: 1440px) {
    html{
        font-size: 25px;
    }
    
    h1{
        font-size: 30px;
    }
    .nav {
        height: 70px;
    }

    .nav_links > ul >li > a {
        font-size: 20px;

    } 

    .nav__container{
        width: 90%;

    }
    .img-responsive {
    width: 18%; 
    }

    .img__perfil{
        width: 18vw;
    }

    .principal__sub, .historia__titulo {
        font-size: 25px;
        margin: 30px;
    }
      

    .btn_vertodas {
        width: 230px;
        height: 50px;
        margin-top: 45px;
        margin-bottom: 50px;
    }
    .btn_vertodas > a{
        font-size: 20px;
    }
    .rodape__cc {
        padding-top: 0px;
        font-size: 10px;
    }

    main {
        margin-left: 80px;
        margin-right: 80px;
        font-size: 20px;
    }
    .header {
        height: 450px;
    }
    h1 {
        margin-top: 370px;
    }
}