* {
    box-sizing: border-box;
}

body{
    margin: 0;
}


        /***********     Menu   ************/

.menu{
    background-color: #674582;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu_mdemaravilhosa{    
width: 240px;
height: 60px;
top: 15px;
}


     
/**************  BANNER *****************/


.principal{
width: 100vw;
height: 41vh;
background-image: url("../img/luisaMellPrincipal.jpg");
background-repeat: no-repeat;
display: flex;

}

.principal_texto{
    align-self: flex-end;
    margin: 0% 0% 0% 20%;
    font-family: Montserrat;
    color: #63458A;   
    text-transform: uppercase;
    font-size: 15px;
    }




/*  ***********   MAIN  **********/
.tituloBafao{
    width: 40%;
    height: 10%;
    text-align: center;
    margin: 0 0 0 30%;
}


.tituloBafao > h2{
    font-size: 17px;
    font-family: Roboto Slab;
    font-size: 16px;
    color: #63458A;   
}


.bafao{
    display: flex;
    align-items: center;    
}

.fotoBafao_foto {
    margin: 0 0 0 10px
}


.fotoBafao_img{
    width: 21vw;
    height: 16vh;
    border-radius: 10%;
}

.textoBafao{
    margin: 0 0 0 10px
}


.textoBafao_texto{   
    font-family: Montserrat;
    line-height: 16px;
    color: #63458A;
    font-size: 12px
}




.citacao{
    height: 50%;
    width: 90%;    
    border-style: solid;
    border-color: #63458A;
    margin: 0 0 0 20px;
}


.citacao > p {
    font-family: Montserrat;
    line-height: 18px;
    color: #63458A;
    font-size: 14px;
}


.historia > h3{
    font-family: Roboto Slab;
    font-size: 16px;
    color: #63458A;
}

.historia_texto > p {
    font-family: Montserrat;
    line-height: 18px;
    color: #63458A;
    font-size: 14px;
}


.fotosub_img{
    width: 100vw;
    height: auto;
}

.texto_sub{
    font-family: Montserrat;
    line-height: 19px;
    color: #63458A;
    font-size: 15px;

}

.sobreautora{
    display: flex;
    align-items: center;
    height: 50%;
    width: 100%;     
    background-color: #E4B7E5;

}

.autora_img{
    width: 25vw;
    height: 20vh;
    margin: 2px
}

.autora_texto{
    font-family: Montserrat;
    line-height: 19px;
    color: #63458A;
    font-size: 10px;
}


/*****    BUTTON   *****/


.button{
    width: 35vw;
    height: 10vh;
    margin: 5px 100px 0 100px; 
    
}

.button button {
    border-radius: 10px;
    width: 40vw;
    height: 08vh;
    background-color: #C083B9; 
    color: #ffffff;
}



/**********  FOOTER  *******/

.contatos{
    width: 100vw;
    height: 20vh;
    background: #323534;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    }

  

.contatos a{
    color:#F3F3F3;
    text-transform: uppercase;
    font-size: 7px
}

 .contatos_logo img{
    width: 50px; 
     height: 35px; 

 }
 
 .contatos_facebook{
         flex-direction: row;
 }
 

 .contatos_facebook img{
    width: 15px;
    height: 17px
 }

.contatos_facebook span {
    font-size: 6px;
}


 .criado{        
    height: 5vh;
    background-color: #292A2A;
    display: flex;
 }

 .criado p{
    color:#F3F3F3;
    font-size: 8px;
    margin: 2px 58px;

 }





 @media (min-width: 768px) {

    .principal{
        background-size: 100%
    }

    .principal_texto{
        margin: 0% 0% 0% 61%;
    }


    .tituloBafao > h2{
        font-size: 27px;
    }

    .fotoBafao_img {
        width: 23vw;
        height: 32vh;
}
       
.textoBafao_texto{
    line-height: 34px;
    font-size: 16px;
}

.citacao {
    width: 95%;
    padding: 20px;
}

.citacao > p{
    line-height: 22px;
    font-size: 15px;
}

.historia > h3{
    font-size: 24px;
}

.bafao{
    margin: 0 0 30px 0;
}


.historia_texto p {
    line-height: 22px;
    font-size: 15px;
}

.fotosub_img {
    height: 62vh;
} 

.autora_img {
    width: 29vw;
    height: 34vh;
}


.autora_texto{
    line-height: 41px;
    font-size: 11px;
}

.button button{
    margin: 0 0 0 112px;
}

..contatos{
    flex-direction: row;
    justify-content:space-between;

}

 }