* {
    box-sizing: border-box;
}

body{
    margin: 0;
}

html{
    width: 100vw;
    height: 100vh;
}



       /*     Menu   */

.menu{
background-color: #674582;
width: 126vw;
height: 16vh
}

.menu_mdemaravilhosa{    
width: 240px;
height: 60px;
top: 15px;
}



.menu_nave{
width: 69px;
height: 19px;


}

.principal{
width: 125vw;
height: 41vh;
background-image: url("../img/luisaMellPrincipal.jpg");
background-repeat: no-repeat;
display: flex;

}

.principal_texto{
    align-self: flex-end;
    margin: 0% 0% 0% 20%;
    font-family: Montserrat;
    color: #63458A;   
    text-transform: uppercase;
    font-size: 15px;
    }




/*  ***********   MAIN  **********/
.tituloBafao{
    width: 40%;
    height: 10%;
    text-align: center;
    margin: 0 0 0 30%;
}


.tituloBafao > h2{
    font-size: 17px;
    font-family: Roboto Slab;
    font-size: 16px;
    color: #63458A;   
}

.fotoBafao{
    display: flex;
    align-items: center;
    
}




.textoBafao_texto{   
    font-family: Montserrat;
    line-height: 19px;
    color: #63458A;
    font-size: 15px

}


.fotoBafao_img{
    width: 21vw;
    height: 16vh;
    border-radius: 10%;
}

.citacao{
    height: 50%;
    width: 90%;    
    border-style: solid;
    border-color: #63458A;
    margin: 0 0 0 20px;
}


.citacao > p {
    font-family: Montserrat;
    line-height: 19px;
    color: #63458A;
    font-size: 15px;
}


.historia > h3{
    font-family: Roboto Slab;
    font-size: 16px;
    color: #63458A;
}

.historia_texto > p {
    font-family: Montserrat;
    line-height: 19px;
    color: #63458A;
    font-size: 15px;
}


.fotosub_img{
    width: 100vw;
    height: auto;
}

.texto_sub{
    font-family: Montserrat;
    line-height: 19px;
    color: #63458A;
    font-size: 15px;

}

.sobreautora{
    display: flex;
    align-items: center;
    height: 50%;
    width: 100%;     
    background-color: #E4B7E5;

}

.autora_img{
    width: 25vw;
    height: 20vh;
    margin: 2px
}

.autora_texto{
    font-family: Montserrat;
    line-height: 19px;
    color: #63458A;
    font-size: 10px;
}


/*****    BUTTON   *****/


.button{
    width: 35vw;
    height: 10vh;
    margin: 5px 100px 0 100px; 
    
}

.button button {
    border-radius: 10px;
    width: 40vw;
    height: 08vh;
    background-color: #C083B9; 
    color: #ffffff;
}



/**********  FOOTER  *******/

.contatos{
    width: 100vw;
    height: 20vh;
    background: #323534;
    display: flex;
    justify-content: space-between;

    }

.contatos_menu{
    background-color: green;


}    

 .contatos_logo img{
     width: 20%;
     height: 30%;
     background-color: white;
 }
 
 .contatos_facebook{
     background-color: aqua;
 }
 
 .contatos_facebook a{
    width: 20%;
    height: 30%;
    background-color: red

 }

 .contatos_facebook img{
    width: 20%;
    height: 30%;

 }

 .contatos_facebook p{
    width: 20%;
    height: 30%;
    background-color: orangered;

 }