*{
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    margin: 0;
}
a{
    padding: 0px;
    list-style: none;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}
ul{
    padding: 0;
}
li{
    list-style: none;
}
h1{
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    text-transform: uppercase;
    color: #ffffff;
    /* margin-bottom: 15px; */
}
p{
    margin-left: 15px;
    line-height: 1.5; 
} 
.imagen-propiedades{
    width: 100%;
}
.contenedor-navegacion{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    background-color: #674582;
}
.propiedades-logo{
    display: flex;
    align-items: center;
}
.navegacion-link{
    padding: 0px;
    list-style: none;
    color: #ffffff;
    text-transform: uppercase;
}
header{
    background: linear-gradient(
     rgba(103, 69, 130, 0.56),
     rgba(1, 0, 2, 0.75)), url(../img/alfonsina-strada.jpg);
    width: 100%;
    height: 290px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 40%;
    display: flex;
    align-items: center;
}
.titulo-maravillosa{
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
    color: #63458a;
    font-size: 20px;
    text-align: center;
}
.contenedor-historia_maravillosa{
    width: 100%;
    display: flex;
    padding: 10px;
    background-color: #d3add0; 
}

.img-pequena img{
    width: 100px;
    border-radius: 5px;
    margin-top: 13px;
    margin-left: 20px;
}
.historia-pequena{
    margin-right: 15px;

}

.frase{
    padding: 30px;
}
.contenedor-frase{
    display: flex;
    border-color: #63458a;
    border-style: solid;
    justify-content: center;
}
.img-banner{
    background: linear-gradient(
     rgba(103, 69, 130, 0.56),
     rgba(1, 0, 2, 0.75)), url(../img/alfonsina-banner.jpg);
    width: 100%;
    height: 197px;
    background-size: cover;   
}
.contenedor-autora_maravillosa{
    width: 100%;
    display: flex;
    padding: 10px;
    background-color: #674582; 
}
.contenedor-volver_home{
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: center;
} 
.contenedor-volver_home{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

}
.boton-volver_home{
    width: 100%;
    margin:auto 0;
    background-color: #d3add0;
    color: #ffffff;
    box-shadow: 0 5px 5px rgba(0,0,0,.2);
    text-transform: uppercase;
    border-radius: 5px;
}
.footer{
    width: 100%;
}

.footer-1{
    display: block;
    width: 100%;
    background-color: #323534;
    margin: 0 auto;    
    padding: 2px;
}
.footer-lista, .facebook-footer, .propiedades-logo{
    width: 100%;
    display: block;
    text-align: center;
    padding: 0;    
}
.imagen-footer{
    max-width: 100px;
}
.logo-facebook{
    width: 12px;
}
.span{
    font-size: 10px;
}
.footer-2{
    display: flex;
    background-color: #292A2A;
    width: 100%;
    height: 30px;
    justify-content: center;
    align-items: center;
    color: #e7e5e5;
    font-size: 10px;
}

/* footer responsivo 768 */

@media (min-width: 768px){
    .footer-1{
        display: flex;
        width: 100%;
        height: 30%;
        padding: 2%;
        margin: 0 auto;
    }
    .span{
        font-size: 12px;
    }
}

