* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    width: 100vw;
}

.topo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #674582;
    width: 100%;
    height: 88px;
    color: white;
}

.topo>img {
    width: 200px;
}

.hamburguinho {
    /* background-image: url("../img/menu-nav.png") */
}

.menu {
    display: none;
}

.personalidade h1 {
    align-items: center;
    position: absolute;
    top: 46%;
    left: 24%;
    color: #ffffff;
    font-size: 20px;
}

.personalidade>img {
    width: 100vw;
}

.primeiro_texto>img {
    width: 150px;
    margin-left: 102px;
    margin-bottom: 20px;
}

.primeiro_texto>h1 {
    text-align: center;
    color: #674582;
    font-size: 20px;
}

.primeiro_texto>p {
    text-align: justify;
    margin: 0 20px 30px;
    color: #674582;
    font-size: 15px;
}

.texto-img>img {
    width: 200px;
    margin-left: 77px;
}

.texto-img p {
    color: #63458a;
    text-align: justify;
    margin: 21px;
}

.citacao {
    text-align: justify;
    margin: 0 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #674582;
    border: 1px solid #63458a;
    padding: 10px;
    font-size: 20px;
    line-height: 1.5;
}

.segundo_texto {
    margin: 0 20px 30px;
    color: #674582;
    font-size: 15px;
    text-align: justify;
}

.segundo_texto>img {
    width: 280px;
    margin-left: 20px;
}

.bloco {
    margin: 0 auto;
    margin-bottom: 50px;
    width: 100%;
    max-width: 960px;
    padding-bottom: 10px;
    background-color: #E4B7E5;
}

.bloco>img {
    width: 149px;
    margin-top: 20px;
    margin-left: 92px;
}

.bloco>p {
    margin-left: 80px;
    color: #63458a;
    font-size: 15px;
}

section a {
    margin-left: 73px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #C083B9;
    border-radius: 5px;
    color: #674582;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.rodape {
    width: 100%;
    height: 162px;
    margin-top: 50px;
    background-color: #323534;
    padding-top: 7px;
    padding-bottom: 17px;
}

.rodape ul {
    padding: 0;
    color: white;
    height: 50px;
    margin-bottom: 0;
    font-size: 12px;
    list-style: none;
    text-align: center;
}

.rodape>img {
    width: 200px;
    height: 50px;
    margin-left: 73px;
    margin-top: 0px;
}

.rodape__link {
    color: #ffffff;
    margin-left: 80px;
}

.rodape__link>img {
    height: 19px;
}

.rodape__segundo {
    background-color: #292A2A;
}

.rodape__segundo>p {
    margin: 0;
    color: #ffffff;
    font-size: 12px;
    font-size: 11px;
    /* margin-left: 246px; */
}


/* -----MEDEIAQ----- */

@media (min-width: 768px) {
    .topo {
        /* justify-content: space-between; */
    }
    .hamburguinho {
        display: none;
    }
    .menu {
        display: flex;
        color: #ffffff;
        align-items: inherit;
    }
    .menu a {
        margin: 11px;
    }
    .redes {
        display: flex;
    }
    .redes img {
        width: 32px;
        height: 32px;
        margin: 0%;
    }
    .personalidade h1 {
        top: 85%;
        left: 31%;
        font-size: 35px;
    }
    .primeiro_texto img {
        width: 200px;
        margin-left: 260px;
    }
    .primeiro_texto p {
        text-align: justify;
        margin: 0 20px 30px;
        color: #674582;
        font-size: 15px;
    }
    .bloco {
        display: flex;
        align-items: center;
        padding-bottom: 18px;
    }
    .bloco p {
        margin-left: 69px;
        color: #63458a;
        font-size: 15px;
    }
    .segundo_texto img {
        width: 500px;
        margin-top: 10px;
        margin-left: 97px;
    }
    .bloco img {
        width: 149px;
        margin-top: 20px;
        margin-left: 237px;
    }
    section a {
        margin-left: 261px;
    }
    .rodape {
        height: 155px;
        align-items: center;
    }
    .rodape ul {
        padding: 0;
        margin-left: 20px;
    }
    .rodape img {
        margin-left: 296px;
    }
    .rodape__link {
        margin-left: 10px;
    }
    .rodape__segundo p {
        /* margin-left: 211px; */
    }
}

@media (min-width: 1024px) {
    .personalidade h1 {
        top: 85%;
        left: 31%;
    }
    .primeiro_texto img {
        margin-bottom: 24px;
        margin-left: 403px;
    }
    .bloco {
        max-width: none;
    }
    section a {
        margin-left: 400px;
    }
    .rodape {
        justify-content: space-evenly;
        display: flex;
        height: 110px;
        align-items: center;
        justify-content: center;
    }
    .rodape ul {
        /* margin-left: -119px; */
        margin-bottom: none;
    }
    .rodape__segundo p {
        font-size: 14px;
        margin-left: 328px;
    }
    .rodape img {
        margin-left: 251px;
        margin-left: 0;
    }
}

@media (min-width: 1440px) {
    .personalidade h1 {
        top: 46%;
        left: 38%;
        font-size: 44px;
    }
    .personalidade img {
        height: 452px;
    }
}

.primeiro_texto h1 {
    font-size: 50px;
}

.primeiro_texto img {
    width: 309px;
    margin-left: 198px;
}

.primeiro_texto p {
    font-size: 20px;
}

.texto-img {
    display: flex;
    margin-bottom: 50px;
    margin-right: 200px;
}

.citacao {
    margin-left: 200px;
    margin-right: 200px;
}

.segundo_texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 21px;
}

.segundo_texto img {
    width: 800px;
}

.bloco {
    max-width: none;
}

.bloco img {
    margin-left: 493px;
}

.bloco p {
    font-size: 19px;
}

section a {
    margin-left: 569px;
}

.rodape {
    display: flex;
    height: 110px;
    align-items: center;
    justify-content: space-evenly;
}

.rodape ul {
    margin-left: -119px;
    margin-bottom: none;
}

.rodape__segundo p {
    font-size: 14px;
    margin-left: 517px;
}


}