* { 
    box-sizing: border-box;
}
html {
    width: 100vw;
    height: 100vh;
}
body {
    margin: 0 auto;
}
.container-row {
    height: 80px; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    background-color: blueviolet;
    border: light;
}
.logo {
    width: 180px;
    height: 50px;
    margin: 0 auto; 
}
.menu-itens {
    height: 40px; 
}
.item {
    flex: 1;
    font-size: 18px;
    margin-right: 70px;
    
}
.item-1 {
    height: 40px;
    margin-right: 70px;
}
    
.Facebook {
    width: 30px;
    height: 29px;
}
.instagram {
    width: 30px;
    height: 29px;
}
.twitter {
    width: 30px;
    height: 29px;
}
.linkedin {
    width: 30px;
    height: 29px;
}

.banner-Muhammad img {
    width: 100vw;
    height: 100vh; 
    align-items: center;
    text-align: center;
    
}
.texto-bottom {
    position: relative;
    bottom: 90px;
    text-align: center;
    color: white;
    font-size: 50px;
}
.titulo-personalidade {
    position: relative;
    bottom: 50px;
    text-align: center;
    color:black;
    font-size: 50px;
}
.container-personalidade {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}

.logo-mulher {
    width: 20vh;
    height: 40hw;
    margin-left: 10px;
}
.texto-personalidade {
    width: 80vw;
    height: 40vh;
    font-size: 20px;
    color: #63458a;
    margin-left: 10px;
    margin-bottom: 30px;
}
.texto-geral {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}
.texto-geral-1 {
    width: 100vw;
    height: 40vh;
    font-size: 30px;
    color: #63458a;
    text-align: center;
    border: solid;
    border: #63458a;
    letter-spacing: 2px;

}

.historia-mulher {
    color: #63458a;
    display: flex;
    justify-content: center;
    
}
h1 {
    font-size: 30px;
    align-items: center;
    color: #63458a;
    text-align: left;
    margin-left: 350px;
    margin-bottom: 10px;

}

.texto-Muhammad-1 {
    font-size: 20px;
    color: #63458a;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 10px;

}
.texto-Muhammad-2 {
    font-size: 20px;
    color: #63458a;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 10px;
}
.esgrima {
    width: 650px;
    height: 300px;
    color: #63458a;
    margin-left: 350px;
}
.texto-Muhammad-3 {
    font-size: 20px;
    color: #63458a;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 10px;
}
.container-autora {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e5e5e5;

}
.autora {
    width: 10vw;
    height: 10hw;
    margin-left: 10px;

}
.texto-autora {
    margin-top: 10px;
    font-size: 18px;
    color: #63458a;
    margin-left: 10px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.recuadro-ver-todas {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    background-color: white;
    margin-bottom: 10px;
}

.buttom-ver-todas {
    display: flex;
    background-color: #c083b9;
    text-align: center;
    border-radius: 5px;
}

.footer-recuadro {
    width: 100%;
    margin: 0 auto;
    background-color: #2b2926;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.itens {
    display: block;

}

.itens li {
    height: 30px;  
    margin-left: 0;
}

.Logo-maravilhosa {
    margin-top: 10px;
    display: flex;
    align-items: center;
    height: 10vh;
}
.Facebook-icon {
    display: flex;
    margin-right: 20px;
} 
.icone {
    width: 20px;
    margin-right: 10px;
}

.maravilhosa > a {
    font-size: 10px;
    margin-right: 0 auto;
}
.made {
    font-size: 20px;
}
.final {
    display: flex;
    justify-content: center;
    height: 5vh;
    background-color: black;
}
.texto-final {
    font-size: 12px;
    color: white;
    
}

a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}
p {
    display: flex;
    flex-direction: row;
}

a {
    color: white;
}
ul, li {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

@media (min-width:768px) {
.banner-Muhammad img {
    width: 100vw;
    height: 56vh;
    align-items: center;
    text-align: center;

}
.logo-mulher {
    width: 17vh;
    height: 40hw;
    margin-left: 10px;
}

.texto-geral-1 {
    width: 98vw;
    font-size: 25px;
}
h1 {
    margin-left: 10px
}
.texto-Muhammad-1 {
    font-size: 22px;
    margin-left: 10px;
    margin-right: 0;
}
.texto-Muhammad-2 {
    font-size: 22px;
    margin-left: 10px;
    margin-right: 0;
}
.esgrima {
    width: 768px;
    height: 311px;
    color: #63458a;
    margin-left: 0;
}
.texto-Muhammad-3 {
    font-size: 22px;
    color: #63458a;
    margin-left: 10px;
    margin-right: 0;
}
.logo {
    width: 0;
}
.item {
    margin-right: 0;
    margin-left: 22px;
}
.item-1 {
    margin-right: 0;
    margin-left: 15px;

}

@media (min-width:320px) {

.banner-Muhammad img {
        width: 115vw;
        height: 29vh;
}
.texto-bottom {
    bottom: 32px;
    font-size: 18px;
}
.titulo-personalidade {
    bottom: 19px;
    font-size: 18px;
}
.logo-mulher {
 width: 22vw;
margin-left: 10px;
margin-bottom: 208px;
}
