* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vw;
}


/* ============= NAVEGAÇÃO =============== */

.navegar {
    background-color: #674582;
    margin: 0 auto;
    padding: 10px;
    position: fixed;
    width: 100%;
}

.container-navegar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.navegar-barra__clicar {
    width: 100%;
}

.navegar-barra__img {
    width: 200px;
}

@media (max-width: 768px) {
    .navegar-barra__menu {
        display: none;
    }
}

@media (min-width: 768px) {
    .navegar-hamburguer {
        display: none;
    }
}


/* ============ HEADER ============= */

.cabecalho {
    background-image: url("../img/camila-achutti_reserva_foto_thaysbittar-255-1024x683.jpg");
    background-size: cover;
    position: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    /* padding-top: 50px; */
}

.cabecalho__nome {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
}


/* =========== SECTION  =========== */

.conteudo {
    width: 100%;
    padding: 18px;
}

.conteudo-titulo {
    color: #674582;
    font-size: 20px;
    padding: 15px;
    padding-top: 30px;
    text-align: center;
    text-transform: uppercase;
    font-family: Roboto, Slab;
}

.conteudo-perfil {
    display: flex;
    justify-content: center;
}

.conteudo-perfil__img {
    width: 200px;
    height: 200px;
}

.conteudo-biografia {
    font-size: 18px;
    color: #63458a;
    padding: 15px;
}

.conteudo-citacao {
    margin: 10px;
}

.conteudo-citacao__texto {
    font-size: 20px;
    padding: 20px;
    text-align: center;
    border: 2px solid #63458a;
    color: #63458a;
    font-weight: bold;
}

.conteudo-historia {
    width: 100%;
    padding: 12px;
}

.conteudo-historia__tema {
    padding-top: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #63458a;
}

.conteudo-historia__img {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.conteudo-historia__tragetoria {
    font-size: 15px;
    color: #63458a;
    line-height: 20px;
    padding-bottom: 20px;
}


/* ======== ASIDE ======== */

.container-autora {
    background-color: #e4b7e5;
    height: 54vh;
    text-align: center;
}

.autora-foto__perfil {
    width: 150px;
    height: 150px;
    margin-top: 32px;
}

.autora-contato {
    font-size: 14px;
    color: #63458a;
    line-height: 8px;
}

.autora-contato__dados-link {
    font-style: italic;
}

.container-botao {
    display: flex;
    justify-content: center;
    margin: 30px auto;
}

.botao-mostrar {
    text-align: center;
    min-width: 200px;
    background-color: #c083b9;
    border-radius: 5px;
    padding: 8px;
}

.botao-mostrar__link {
    font-size: 15px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;
}


/* ======== FOOTER ====== */

.container-rodape {
    background-color: #323534;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    height: 250px;
}


/* .container-navegar {
    padding: 10px;
} */

.rodape__link {
    list-style: none;
    font-size: 12px;
    text-align: center;
    line-height: 26px;
}

.rodape__link a {
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
}

.rodape__img {
    height: 60px;
}

.rodape__link-facebook {
    font-size: 16px;
    text-decoration: none;
    color: white;
}

.rodape__link-facebook img {
    width: 16px;
}


/* ======== CRÉDITOS ============ */

.rodape-final {
    background-color: #292A2A;
    text-decoration: none;
    width: 100%;
    text-align: center;
    font-size: 11px;
    padding: 2px;
    color: #ffffff;
}