body{
    background-color:#E5E5E5;
}

header{
    background-image: url(../img/harriet_tubman.jpg);
    width: 100vw;
    height: 300px;
    background-size: cover;
    background: linear-gradient hsla(290,100%,20%,0.3);
    display: flex;
    justify-content: center;
}

.informacao{
    background-color: #674582;
    width: 100vw;
    height: 15vh;
}

.logo{
    width: 40%;
    padding: 10px; 
}

.amburg{
    float: right;
    margin-right: 5%;
    margin-top: 3%;
    padding: 10px;
   }

   h1{
       color: white;
       align-self: flex-end;
   }

   .titulo{
       width: 100%;
       height: 200%;
       padding: 10%;
       align-self: center;
   }


