* {
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    height: 100%;
    width: 100%;
}

.menu-principal {
    width: 100%;
    background-color: #674582;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.maravilhosa {

}

.menu-hamburguer {

}

.menu-redes-sociais {
    text-transform: uppercase;
}

header {
    width: 100%;
    height: 250px;
    background-image: url(../img/foto-capa.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background: linear-gradient(
        rgba(103, 69, 130,0.56),
        rgba (1, 0, 2, 0.75)), url(../img/foto-capa.jpg);
    display: flex;
    flex-direction: column-reverse;
    }

h1 {
    text-align: center;
    color: aliceblue;

}

section {
    color: #674582;
}

.titulo {
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
}

.apresentacao {
    display: flex;
    align-content: center;
    flex-direction: column;
}

.primeira-foto {
    display: flex;
    text-align: center;

}

.texto {
    padding: 3% 3% 3% 3% ;
    text-align: center;
}

.texto h3 {
    text-align: left;
    padding-bottom: 3%;
}
.citacao {
    margin: 5% 5%;
    border-style: solid;
    text-align: center;
}

.video-sobre {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    display: flex;
    justify-content: center;
}

.video-sobre iframe {
    Position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    padding-left: 5%;
}

.autora {
    width: 100%;
    background-color: rgba(103, 69, 130,0.56);
    display: flex;
    justify-content: center;
    margin-top: 3%;


}

.autora-foto {
    width: 30%;
    height: 100%;
}

.autora-texto {
    width: 65%;
    height: 100%;
}

.ver-todas-elas {
    width: 100%;

}

.ver-todas-elas-btn {
    width: 40%;
    background-color: rgba(103, 69, 130,0.56);
    color: aliceblue;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    margin-top: 5%;
    margin-bottom: 5%;

}

.rodape {
    background-color: #323534;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rodape-principal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}



@media (max-width: 425px){
    .menu-redes-sociais {
        display: none;
    }
}

@media (min-width: 425px){
    .menu-hamburguer {
        display: none;
    }
}