* {
    box-sizing: border-box;
    margin: 0;
}
body {
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}
.menu-principal {
    width: 100%;
    background-color: #674582;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    margin: auto;
}
.menu-principal a {
    text-decoration: none;
    color: #ffffff;
}
.menu-hamburguer {
}
.menu-redes-sociais {
    text-transform: uppercase;
}
header {
    width: 100pw;
    height: 250px;
    background-image: url(../img/foto-capa.jpg);
    background-size: 100vw;
    background-repeat: space;
    background: linear-gradient(
        rgba(103, 69, 130,0.56),
        rgba (1, 0, 2, 0.75)), url(../img/foto-capa.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    }
header h1 {
    text-align: center;
    color: blanchedalmond;
}
section {
    color: #674582;
}
.titulo {
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}
.apresentacao {
    display: flex;
    align-content: center;
    flex-direction: column;
}
.primeira-foto {
    width: 100%;
}
.primeira-foto-1 {
    width: 30%;
    margin-left: 35%;
}
.texto {
    padding: 3% 3% 3% 3% ;
    text-align: center;
}
.texto h3 {
    text-align: left;
    padding-bottom: 3%;
}
.citacao {
    margin: 5%;
    padding: 5%;
    border-style: solid;
    text-align: center;
}
.video-sobre {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    display: flex;
    justify-content: center;
}
.video-sobre iframe {
    Position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    padding-left: 5%;
}
.textoeimagem {
    color: #674582;
    width: 100pw;
    margin-bottom: 30px;
}
.textoeimagem a {
    text-decoration: none;
    color: #674582;
}    
.autora {
    width: 100%;
    background-color: #e4b7e5;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.autora-foto {
    align-content: flex-end;
}
.autora a {
    text-decoration: none;
    color: #674582;
}
.ver-todas-elas {
    width: 100%;
}
.ver-todas-elas-btn {
    width: 40%;
    background-color: #c083b9;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.ver-todas-elas-btn a {
    text-decoration: none;
    color: white;
}
.rodape {
    background-color: #323534;
    color: white;
    font-size: .9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: .8rem;
}
.rodape a {
    text-decoration: none;
    color: white;
}
.rodape-principal {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 3%;
}
.rodape-logo {
    padding-bottom: 3%;
}
.rodape-redes-sociais {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 3%;
}
.rodape-final {
    width: 100%;
    background-color: #292A2A;
    font-size: small;
    opacity: 0.5;
    text-align: center;
}

@media (max-width: 767px){
    .menu-redes-sociais {
        display: none;
    }
}

@media (min-width: 768px){

  
    .menu-redes-sociais {
        width: 60%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .menu-redes-sociais a {
        text-decoration: none;
        color: #ffffff;
        font-size: 12px;
    }
    .menu-hamburguer {
        display: none;
    }
    header {
        width: 100pw;
        height: 400px;
    }
}