* {
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    height: 100%;
    width: 100%;
}

.menu-principal {
    width: 100%;
    background-color: #674582;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.maravilhosa {

}

.menu-hamburguer {

}

.menu-redes-sociais {
    text-transform: uppercase;
}

header {
    width: 100%;
    height: 250px;
    background-image: url(../img/foto-capa.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background: linear-gradient(
        rgba(103, 69, 130,0.56),
        rgba (1, 0, 2, 0.75)), url(../img/foto-capa.jpg);
    display: flex;
    flex-direction: column-reverse;
    }

h1 {
    text-align: center;
    color: aliceblue;

}

section {
    color: #674582;
}

.titulo {
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
}

.apresentacao {
    display: flex;
    align-content: center;
    flex-direction: column;
}

.primeira-foto {
    display: flex;
    text-align: center;

}

.texto {
    padding: 5% 5%;
    text-align: center;
}

.citacao {
    margin: 5% 5%;
    border-style: solid;
    text-align: center;
}

.video-sobre {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    display: flex;
    justify-content: center;
}

.video-sobre iframe {
    Position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    padding-left: 5%;
}

.autora {
    background-color: 

}

@media (max-width: 425px){
    .menu-redes-sociais {
        display: none;
    }
}

@media (min-width: 425px){
    .menu-hamburguer {
        display: none;
    }
}